<footer class="footer">
  <div class="container">
    <p>&copy; 2024 {{appName}} - Collège La Cité</p>
    <p>Projet réalisé par: Ruben, Jovani, Alicia T., Alicia S-C., Hermann</p>
  </div>
</footer>
